/* You can add global styles to this file, and also import other style files */

body{
  overflow: hidden;
}

form div.input-field input{
  padding-left: 15px !important;
  color: white;
}

input.ng-invalid.ng-dirty{
  border-bottom-color : #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}

.input-field>label{
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-custom,.btn-custom:hover,.btn-custom:focus{
  color: white;
  background-color:  rgb(45, 45, 233);
  font-size: 1.1rem;
  margin : 0px 5px;
  border: solid 1px ;
  text-transform:none;
  border-radius: 4px;
}

div.card{
  background-color :#4b70b4;
  height: 500px;
  margin: 0px;

}

.vl {
  border-left: 2px solid #9e9e9e;
  height: 400px;
}

a.action-btn{
  margin: 0px 10px;

}
a.action-btn:hover{
  cursor: pointer;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;
}
